<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>報表總覽</title>
	<style type="text/css">
		body {background:azure; color:black}
		a:link {color:red"}
		a:visited {color:blue}
		a:active {color:green}
	</style>
</head>
<body>
	<h1>報表:</h1>
	<ul>
		<li><a href="mqTable">報表一</a></li>
		<li><a href="mqTable">報表二</a></li>
		<li><a href="mqTable">報表三</a></li>
		<li><a href="mqTable">報表四</a></li>
		<li><a href="mqTable">報表五</a></li>
		<li><a href="mqTable">報表六</a></li>
		<li><a href="mqTable">報表七</a></li>
		<li><a href="mqTable">報表八</a></li>
	</ul>
</body>
</html>