<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="'Hello, ' + ${name} + '!'" />
	<form>
		<input type="text" name="" size="20" />
		<input type="submit" value="查詢" />
	</form>
	<table border="1">
		<caption>Result</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p : ${allProducts}">
				<td th:text="${p.name}">Oranges</td>
				<td th:text="${p.price}">0.99</td>
			</tr>
		</tbody>
	</table>
</body>
</html>